            <div id="outer">
                <div id="container">
                    <div id="inner">
                        <a href='http://www.ambitionlab.co.uk'><img src="img/logo.png" /></a>
                        <br />
                        <br />
                        <div>
                            <h4>Thank you for completing the AmbitionLab survey</h4>
                        </div>
                        <br />
                        <div>
                            <h4>Survey website developed by</h4>
                            <a href='http://www.estechco.co.uk'><img src="img/ETClogo.png" /></a>
                        </div>
                    </div>
                </div>
            </div>
